* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size:'Inter', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Inter', sans-serif;
}
h1 {
  font-size: 49px;
  font-weight: 400;
}
h2 {
  font-size: 38px;
  font-weight: 700;  
}
h3 {
  font-size: 25px;
  font-weight: 400;
}
h4 {
  font-size: 18px;
  font-weight: 400;
}
h5 {
  font-size: 15px;
  font-weight: 400;
}
h6 {
  font-size: 14px;
  font-weight: 400;
}
.container{
  max-width: 1186px;
  margin: 0 auto; 
  
}
header {
  max-width: 100%;
}
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

}
section.section-one {
  background-color: #EDEDED;
  display: flex;
  justify-content: center;
  height: 43px;
}
.section-one h6{
  margin-top: 10px;
  
} 
.section-one p {
  margin-top: -6px;
}
section.section-two {
  display: flex;
  background-color: #FBFBFB;
  padding: 10px;
}
.grey{
  width: 284px;
  color: #757575;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.successfulpodcast {
  width: 470px;
}
.loremone {
  width: 300px;
}
.woman {
  width: 583px;
}
.col-6 {
  flex: 50% 1 1;
  margin-top: 100px;
}
.col-4 {
  flex: 33.3% 1 1;
}
.colfour {
  margin-top: 160px;
  margin-bottom: 50px;
}
.mikrophone h3 {
  width: 334px;
}
.person h3 {
  width: 274px;
}
.shaika h3 {
  width: 294px;
}
p.similar  {
  width: 255px;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
} 
.teach {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}
.differ {
  width: 250px;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
}
.podcast {
  margin-top: 110px;
}
.podcast h2 {
  width: 500px;
}
.podcast p {
  width: 370px;
}
.micro {
  margin-top:-60px;
  margin-left: 20px;
}
.microphone {
  margin-top: 60px;
}
.microphone h2 {
  width: 475px;
}
.microphone p {
  width: 450px;
}
img.man {
  width: 498px;
}
img.micro {
  width: 512px;
}
section.bluee {
  background-color: #017CFF;
}
section.white {
  color:white;

}
.words {
  display: flex;
  justify-content: space-between;
  
}
.bluee {
  margin-top: 100px;
}
.bluee h2 {
  margin-top: 140px;
  margin-right: auto;
  margin-left: auto;
}
.pinkk {
  background-color: #E48D8B;
  margin-right: auto;
  margin: 0;
}
.pinkk {
  margin-bottom: auto;
}
.col-12 {
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
}
.counts  {
  display: flex;
  justify-content: space-evenly;
}
.num {
  font-size:80px;
  font-weight: 700;
}
.free {
  font-size: 17px ;
}

section.blue h2 {
  display: inline;

}

.column {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  height: 66px;
  background-color:#DAD9D9;
  margin: 8px 0;
}
.col-12 h2 {
  text-align: center;
  margin: 70px 0;
}

.tetragon h2 {
  margin-top: 160px;
}

.twenty-sev {
  width: 237px;
}
.thirty-sev {
  width: 237px;
}
.forty-three {
  width: 243px;
}
.tetragon {
  width: 59px;
  height: 59px;
}
.col-3 {
  margin-top: 40px;
}
.darkblue-white {
  background-color:#194677;
  margin-top: 100px;
  width: 100%;
}
.content {
  text-align: center;
  margin: 50px 0 ;

}
.content h3 {
  width: 646px;
  margin-left: auto;
  margin-right: auto;
}
strong {
  color: #E48D8B;
}
.pink {
  background-color: #E48D8B;
  margin-right: auto;

}
.blue {
  background-color: #87CDFF;
  margin-left: 1127px;
  margin-top: 100px;
  padding: 0;
}
.tet {
  margin-top:0px;
}
.dark {
  background-color: #017CFF;
  margin-left: auto;
  margin-top: 80px;
}
.question h2 {
  font-weight: 400;
}
.line {
  display: flex;
  justify-content: space-between;
}
img.vec {
  width: 14.11px;
  height: 7.35px;
  margin-top: 20px;
}
.thin {
  font-weight: 400;
}
.white {
  color: white;
}
.pinks {
  background-color: #E48D8B;
  margin-top: 100px;
}
.card-content {
  background-color:white;
  width: 430px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

 }
 .nine {
  font-size: 35px;
  color: #017CFF;
  font-weight: 400;
 }
 .twenty {
  color: #757575;
  font-size: 20px;
 }
.checks {
  display: flex;
  margin-left: 50px;
  padding: 0;
}
.btn {
  margin-bottom: 30px;
}
.fair {
  background-color: #87CDFF;
  margin-right: auto;
  margin-left: 160px;
  margin-top: 80px;
}
img.check {
  width: 22px;
  height: 23px;
  margin-top: 10px;
}
.thirty {
  width: 230px;
  margin-left: auto;
  margin-right: auto;
}
.col-4 .card-content {
  background-color: #EDEDED;
  text-align: start;
  padding: 30px;
  width: 355px;

}
.jamie {
  display: flex;
  
}
.jamie p {
  margin-left: 20px;
}
.matthew {
  width: 230px;
  text-align: start;
  font-size: 16px;
  font-weight: 400;
  font-family:'Inter', sans-serif ;
  
}
.col-4 {
  flex: 33.3% 1 1;
  margin-top: 10px;
}
.up {
  margin-top: 30px;
}
.upp {
  margin-top: -45px;
}
h2.more {
  text-align: center;
  margin-top: 100px;
}
footer {
  background-color: #FBFBFB;
}
.coursley {
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 20px;
}
.terms {
  width: 74px;
}
.site p{
  font-size: 15px;
}
.site {
  margin-right:auto ;
  margin-left: 400px;
}
.admin p {
  font-size: 15px;
}
footer section {
  padding: 20px 0 ;
}
.course {
  width: 335px;
  font-size: 18px;
  font-weight: 400;
}
.gray {
  font-size: 14px;
  font-weight: 400;
  color: #B1B1B1;
}
.underline {
  color:#017CFF;
  text-decoration: underline;
}
.purple {
  margin-right: 15px;
}
.purplee {
  margin-left: 15px;
}