* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size:'Inter', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Inter', sans-serif;
}
h1 {
  font-size: 49px;
  font-weight: 400;
}
h2 {
  font-size: 38px;
  font-weight: 700;  
}
h3 {
  font-size: 25px;
  font-weight: 400;
}
h4 {
  font-size: 18px;
  font-weight: 400;
}
h5 {
  font-size: 15px;
  font-weight: 400;
}
h6 {
  font-size: 14px;
  font-weight: 400;
}
.container{
  max-width: 1186px;
  margin: 0 auto; 
  /* background-color: #E48D8B;  */
  
}
header {
  max-width: 100%;
}
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

}
section.section-one {
  background-color: #EDEDED;
  display: flex;
  justify-content: center;
  height: 43px;
}
.section-one h6{
  margin-top: 10px;
  
} 
.section-one p {
  margin-top: -6px;
}
section.section-two {
  display: flex;
  background-color: #FBFBFB;
  padding: 10px;
}
.grey{
  width: 284px;
  color: #757575;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.successfulpodcast {
  width: 470px;
}
.loremone {
  width: 300px;
}
.woman {
  width: 583px;
}
.col-6 {
  flex: 50% 1 1;
  margin-top: 100px;
}
.col-4 {
  flex: 33.3% 1 1;
  margin-top: 80px;
}
.mikrophone h3 {
  width: 334px;
}
.person h3 {
  width: 274px;
}
.shaika h3 {
  width: 294px;
}
p.similar  {
  width: 255px;
} 
.differ {
  width: 250px;
}
.podcast {
  margin-top: 110px;
}
.podcast h2 {
  width: 500px;
}
.podcast p {
  width: 370px;
}
.micro {
  margin-top:-60px;
  margin-left: 20px;
}
.microphone {
  margin-top: 60px;
}
.microphone h2 {
  width: 475px;
}
.microphone p {
  width: 450px;
}
img.man {
  width: 498px;
}
img.micro {
  width: 512px;
}
section.bluee {
  background-color: #017CFF;
}
section.white {
  color:white;

}
.words {
  display: flex;
  justify-content: space-around;
  
}
.count {
  display: flex;
  justify-content: space-around;
  font-size: 80px;
}
section.blue h2 {
  display: inline;

}
section.white .count {
  font-size: 80px;
  font-weight: 700;
  margin: 0 30px;
}
.column {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  height: 66px;
  background-color:#DAD9D9;
  margin: 8px 0;
}
.col-12 h2 {
  text-align: center;
  margin: 70px 0;
}

.tetragon h2 {
  margin-top: 160px;
}

.twenty-sev {
  width: 237px;
}
.thirty-sev {
  width: 237px;
}
.forty-three {
  width: 243px;
}
.tetragon {
  width: 59px;
  height: 59px;
}
.col-3 {
  margin-top: 40px;
}
.darkblue-white {
  background-color:#194677;
  margin-top: 100px;
  width: 100%;
}
.content {
  text-align: center;
  margin: 50px 0 ;

}
.content h3 {
  width: 646px;
  margin-left: auto;
  margin-right: auto;
}
strong {
  color: #E48D8B;
}
.pink {
  background-color: #E48D8B;
  margin-right: auto;

}
.blue {
  display:inline;
  background-color: #87CDFF;
  margin-left: 1127px;
  margin-top: 100px;
}
.question h2 {
  font-weight: 400;
}
.line {
  display: flex;
  justify-content: space-between;
}
img.vec {
  width: 14.11px;
  height: 7.35px;
  margin-top: 20px;
}
.thin {
  font-weight: 400;
}